---
import Layout from '../layout/layout.astro'
import s1 from '../img/sponsors/APIS INNOVA GROUP LOGO.png'
import s2 from '../img/sponsors/BenditoPostreLogo-01.jpg'
import s3 from '../img/sponsors/Dr Cesar Lopez.png'
import s4 from '../img/sponsors/EL PADRINO BLANCO COLOR png.png'
import s5 from '../img/sponsors/Gym 1.jpg'
import s6 from '../img/sponsors/Jesus Obrero.png'
import s7 from '../img/sponsors/LOGO JMG DESIGNS.png'
import s8 from '../img/sponsors/logo TITANES GRAFICOS colores.png'
import s9 from '../img/sponsors/png.png'
import s10 from '../img/sponsors/png_20221213_171414_0000.png'
---

<Layout title=" - Aliados">
	<div class="grid">
	<p class="grid mt-32 text-3xl mb-16 px-40 container items-center">Nuestros Aliados</p>
	<section class="grid grid-cols-2 md:grid-cols-4 px-3 justify-center">
		<article class="grid self-center justify-self-center">
			<img class="h-14 md:h-24 self-center justify-self-center grayscale hover:grayscale-0" src={s1.src} alt="">
			<p class="justify-self-center mb-4">Texto 1</p>
		</article>
		<article class="grid self-center justify-self-center">
			<img class="h-14 md:h-24 self-center justify-self-center grayscale hover:grayscale-0" src={s2.src} alt="">
			<p class="justify-self-center mb-4">Texto 2</p>
		</article>
		<article class="grid self-center justify-self-center">
			<img class="h-14 md:h-24 self-center justify-self-center grayscale hover:grayscale-0" src={s3.src} alt="">
			<p class="justify-self-center mb-4">Texto 3</p>
		</article>
		<article class="grid self-center justify-self-center">
			<img class="h-14 md:h-24 self-center justify-self-center grayscale hover:grayscale-0" src={s4.src} alt="">
			<p class="justify-self-center mb-4">Texto 4</p>
		</article>
		<article class="grid self-center justify-self-center">
			<img class="h-14 md:h-24 self-center justify-self-center grayscale hover:grayscale-0" src={s5.src} alt="">
			<p class="justify-self-center mb-4">Texto 5</p>
		</article>
		<article class="grid self-center justify-self-center">
			<img class="h-14 md:h-24 self-center justify-self-center grayscale hover:grayscale-0" src={s6.src} alt="">
			<p class="justify-self-center mb-4">Texto 6</p>
		</article>
		<article class="grid self-center justify-self-center">
			<img class="h-10 md:h-12 self-center justify-self-center grayscale hover:grayscale-0" src={s7.src} alt="">
			<p class="justify-self-center mb-4">Texto 7</p>
		</article>
		<article class="grid self-center justify-self-center">
			<img class="h-10 md:h-32 self-center justify-self-center grayscale hover:grayscale-0" src={s8.src} alt="">
			<p class="justify-self-center mb-4">Texto 8</p>
		</article>
		<article class="grid self-center justify-self-center">
			<img class="h-10 md:h-24 self-center justify-self-center grayscale hover:grayscale-0" src={s9.src} alt="">
			<p class="justify-self-center mb-4">Texto 9</p>
		</article>
		<article class="grid self-center justify-self-center">
			<img class="h-10 md:h-40 self-center justify-self-center grayscale hover:grayscale-0" src={s10.src} alt="">
			<p class="justify-self-center mb-4">Texto 10</p>
		</article>
	</section>
	<div>
</Layout>
