---
import s1 from '../img/sponsors/APIS INNOVA GROUP LOGO.png'
import s2 from '../img/sponsors/BenditoPostreLogo-01.jpg'
import s3 from '../img/sponsors/Dr Cesar Lopez.png'
import s4 from '../img/sponsors/EL PADRINO BLANCO COLOR png.png'
import s5 from '../img/sponsors/Gym 1.jpg'
import s6 from '../img/sponsors/Jesus Obrero.png'
import s7 from '../img/sponsors/LOGO JMG DESIGNS.png'
import s8 from '../img/sponsors/logo TITANES GRAFICOS colores.png'
import s9 from '../img/sponsors/png.png'
import s10 from '../img/sponsors/png_20221213_171414_0000.png'
import tw from '../../public/icons8-twitter-240.svg'
import fb from '../../public/icons8-facebook-240.svg'
import ig from '../../public/icons8-instagram-240.svg'
---

<section class="w-full text-white h-52 bg-[#e0041d] py-4">
    <div class="grid grid-cols-5 max-w-[1000px] mx-auto gap-3">
        <div>
            <p>Albatros Rugby Club - Puerto Ordaz</p>
        </div>
        <div class="col-span-3">
            <div class="grid grid-cols-5 justify-center flex-row py-8 gap-3">
                <img class="h-10 md:h-10 self-center justify-self-center grayscale hover:grayscale-0" src={s1.src} alt="">
                <img class="h-10 md:h-10 self-center justify-self-center grayscale hover:grayscale-0" src={s2.src} alt="">
                <img class="h-10 md:h-10 self-center justify-self-center grayscale hover:grayscale-0" src={s3.src} alt="">
                <img class="h-10 md:h-10 self-center justify-self-center grayscale hover:grayscale-0" src={s4.src} alt="">
                <img class="h-10 md:h-10 self-center justify-self-center grayscale hover:grayscale-0" src={s5.src} alt="">
                <img class="h-10 md:h-10 self-center justify-self-center grayscale hover:grayscale-0" src={s6.src} alt="">
                <img class="h-10 md:h-10 self-center justify-self-center grayscale hover:grayscale-0" src={s7.src} alt="">
                <img class="h-10 md:h-10 self-center justify-self-center grayscale hover:grayscale-0" src={s8.src} alt="">
                <img class="h-10 md:h-10 self-center justify-self-center grayscale hover:grayscale-0" src={s9.src} alt="">
                <img class="h-10 md:h-10 self-center justify-self-center grayscale hover:grayscale-0" src={s10.src} alt="">
            </div>
        </div>
        <div class="flex flex-wrap w-full h-10">
            <p class="w-full h-10">Redes Sociales</p>
            <a href="https://twitter.com/albatrosrcpzo?lang=es"><img class="h-8" src={tw.src} alt=""></a>
            <a href="https://www.facebook.com/AlbatrosRCVenezuela/?locale=es_LA"><img class="h-8" src={fb.src} alt=""></a>
            <a href="https://www.instagram.com/albatrosrugbyclubvenezuela/?hl=es"><img class="h-8" src={ig.src} alt=""></a>
        </div>
    </div>
    <div class="text-center">2024 ® - Derechos Reservados</div>
</section>